

.tituloCart{
    width: 100%;
    padding: 4vh 0vw;
}

.tituloCart h2{
    display: flex;
    justify-content: baseline;
    padding-left: 34vh;
    color: var(--color-secundario);
    font-size: 40px;
    font-weight: 500;
}

.containerCarrito{
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.productosCarrito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300vh;
    width: 43vw;
    gap: 1vw;
    margin-bottom: 50px;
    margin-top: 30px;
}

/* columna Total */
.containerTotal{
    width: 20vw;
    height: 23vh;
    margin-top: 30px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.subtotalInfo{
    display: flex;
    align-items: center;
    gap: 10vw;
    font-size: 18px;
    color: var(--color-secundario);
}

.btn-Checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.btn-Checkout p{
    text-align: left;
    font-size: 18px;
    color: #866e54;
    padding-left: 20px;
}

.btn-Checkout button{
    width: 18vw;
    margin: auto;
    padding: 10px;
    border: 2px solid var(--color-secundario);
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: white;
    background-color: var(--color-terciario);
}

.emptyCart{
    /* background-color: yellow; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyCart h2{
    color: var(--color-secundario);
}

@media (max-width:500px){
    .tituloCart h2{
        justify-content: center;
        padding: 0px;
    }
    .containerCarrito{
        flex-direction: column;
        align-items: center;
    }
    .productosCarrito{
        max-height: unset;
        width: 80%;
        gap: 3vw;
        margin-bottom: 0px;
        background-color: yellow;
    }
    .containerTotal{
        width: 80%;
        height: 23vh;
        margin-bottom: 40px;
        background-color: yellow;
        border: 2px solid black;
        border-radius:10px;
        gap: 2vh;
    }
    .subtotalInfo{
        gap: 35vw;
        background-color: yellowgreen;
        padding: 10px;
    }
    .btn-Checkout p{
        text-align: center;
        font-size: 17px;
        padding-left: 0px;
    }
    
}