
/* product name y categoria */
.productInfo{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2vw;
    padding-left: 6.5vw;
    padding-top: 90px;
    padding-bottom: 25px;
}

.productInfo h2{
    color:var(--color-secundario);   
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.productInfo h3{
    color:#866e54;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
/* contenedor del producto y de la descripcion */
.detailProductContainer{
    display: flex;
    padding: 3vh 6.5vw;
    gap: 2vw;
}

/* producto info: foto y precio*/
.detailPageProduct{
    background-color: white;
    width: 70vw;
    height: 55vh;
    padding: 5vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 1.7vw;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.detailPageProduct h2{
    color: var(--color-secundario);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

/* descripcion del producto + boton de comprar */
.descriptionProduct{
    padding-top: 20px;
    width: 150vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.containerDescriptionInfo{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.descriptionProduct h2{
    color: var(--color-secundario);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.descriptionProduct p{
    color: #866e54;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* caja de colores */
.cajaDeColores{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: var(--color-secundario);
    gap: 2vh;
    margin: auto;
    height: 17vh;
    width: 70%;
    border-radius: 12px;
    border: 3px solid var(--color-secundario);
    display: inline-block;
}

.tituloColors{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding: 1vh 1vw;
    border-bottom: 3px solid var(--color-secundario);
}
.contenedorDeColores{
    display: flex;
    justify-content: space-around;
    padding: 1.5vh 0vw;
}

.contenedorDeColores div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
}

.primerColor i{
    color: black;
    font-size: 40px;
}
.segundoColor i{
    color: orange;
    font-size: 40px;
}
.tercerColor i{
    color: green;
    font-size: 40px;
}

@media (max-width: 500px) {
    .productInfo{
        justify-content: center;
        gap: 10vw;
        padding: 50px;
    }
    .detailProductContainer{
        flex-direction: column;
        padding: 2vh 14vw;
        gap: 2vh;
        
    }
    .descriptionProduct{
        padding: 5px;
        width: 100%;
        gap: 5vh;
    }
    .descriptionProduct p{
        font-size: 18px;
        text-align: center;
    }
    .contenedorDeColores{
        padding: 2vh 1vw;
        gap: 17.3vw;
    }
}
