.productoCartCardContainer{
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 1vw;
    border-radius: 12px;
    gap: 1vw;
    cursor: pointer;
    border: 3px solid var(--color-secundario);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.productoCartCardContainer:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}


.productoCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productoCartCardInfo{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.productoCartCardInfo h3{
    color:  #866e54;    
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
}

.productoCartCardInfo h2{
    color: var(--color-secundario);
}

.productoCartCardInfo p{
    color:  var(--color-secundario); 
    font-weight: 500;
}

.btn-Remove{
    cursor: pointer;
    padding: 10px;
    border: 2px solid var(--color-secundario);
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    color: var(--color-secundario);
    background-color: var(--color-principal);
}

@media (min-width: 360px) and (max-width: 480px){
    .productoCartCardContainer{
        width: 100%;
    }
    
    .productoCartCardContainer:hover {
        box-shadow: none;
        transform: none;
    }
    
    .productoCartCardInfo{
        gap: 1vh;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    
    .productoCartCardContainer:hover {
        box-shadow: none;
        transform: none;
    }
    
    .productoCartCardInfo{
        gap: 1vh;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .productoCartCardContainer:hover {
        box-shadow: none;
        transform: none;
    }
    
    .productoCartCardInfo{
        gap: 1vh;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .productoCartCardContainer:hover {
        box-shadow: none;
        transform: none;
    }
    
    .productoCartCardInfo{
        gap: 1vh;
    }
}
@media (min-width: 1200px) and (max-width: 1439px){
    .productoCartCardContainer:hover {
        box-shadow: none;
        transform: none;
    }
    
    .productoCartCardInfo{
        gap: 1vh;
    }
}