
/* container Header */
.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-terciario);
    border-bottom: 3px solid var(--color-secundario);
}

/* contenedor Your Brand + circulo*/
.brandHeader{
    margin-left: 70px;
}

.brandHeader img{
    width: 200px;
    height: 120px;
}

/* boton home */
.contenedorBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-Home{
    background-color: white;
    border-radius: 25px;
    padding: 0.7vh 0.5vw;
    border: 2px solid var(--color-secundario);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
}

.btn-Home:hover, .btn-Home:focus, .btn-Home:active{
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navBarHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-right: 70px;
    text-decoration: none;
}

/* link de contacto y su hover */
.contactNavLink{
    color:var(--color-secundario);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

.contactNavLink:after{
    content: "";
    position: absolute;
    background-color: var(--color-secundario);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.contactNavLink:hover:after{
    width: 100%;
}


.bi-cart-fill{
    color:var(--color-secundario);
    font-size: 25px;
}

.bi-house-door-fill{
    color:var(--color-secundario);
    font-size: 25px;
}



@media (max-width: 767px) {
     /* containerHeader */
    .containerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15vw;
        padding: 0px;
    }
    /* contenedor Logo */
    .brandHeader{
        margin: 0px;

    }
    
    .brandHeader img{
        width: 220px;
        height: 130px;

    }
    /* boton home */
    .btn-Home{       
        border-radius: 30px;
        padding: 1vh 2vw;
        border: 4px solid var(--color-secundario);
        
    }
    .navBarHeader{
        gap: 5vw;
        margin-right: 0px;
    }
    .contactNavLink{
        font-size: 25px;
        border-bottom: 3px solid var(--color-secundario);
    }
    .bi-cart-fill{
        font-size: 27px;
    }
    .bi-house-door-fill{
        font-size: 30px;
    }
    
}


@media (max-width: 480px) {
    /* containerHeader */
    .containerHeader {
        gap: 0vw;
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
    }
    /* contenedor Logo */
    .brandHeader{
        margin: 0px;
        padding: 0px;
    }
    
    .brandHeader img{
        width: 180px;
        height: 100px;

    }
    /* boton home */
    .btn-Home{       
        border-radius: 30px;
        padding: 1vh 2vw;
        margin-right: 30px;
        border: 3px solid var(--color-secundario);
        
    }
    .navBarHeader{
        gap: 5vw;
        margin-right: 0px;
        padding-right: 10px;
    }
    .contactNavLink{
        font-size: 23px;
        border-bottom: 3px solid var(--color-secundario);
    }
    .bi-cart-fill{
        font-size: 27px;
    }
    .bi-house-door-fill{
        font-size: 25px;
    }
    
}

@media (max-width: 400px) {
    .brandHeader img{
        width: 180px;
        height: 100px;
        padding-right: 20px;

    }
    /* boton home */
    .btn-Home{       
        border-radius: 40px;
        padding: 0.8vh 2.2vw;
        margin-right: 33px;
        border: 3px solid var(--color-secundario);       
    }
    .bi-house-door-fill{
        font-size: 23px;
    }
    
}
