
.containerFooter{
    display: flex;
    justify-content: center;
    gap: 12.9vw;
    background-color: #F7F8FA;
    border-top: 3px solid #EDEFF2;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* primer columna */
.primerColumna{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    cursor: default;
}

.primerColumna h2{
    color: #4D5E80;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
}

.primerColumna p{
    color: #ADB8CC;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 214.286% */
}

/* columnas del medio */
.containerColumnasMedio{
    display: flex;
    gap: 10vw;
}
.columnasMedio{
    color: #6B7A99;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 214.286% */
    cursor: pointer;
}

/* tercer columnas */
.tercerColumna{
    color:  #ADB8CC;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
    display: flex;
    flex-direction: column;
    gap: 2vh;
    cursor: default;
}


@media (max-width: 500px) {
    .containerFooter{
        flex-direction: column;
        padding: 55px;
        gap: 4vh;
    }
    .primerColumna h2{        
        font-size: 20px;
    }
    .primerColumna p{
        font-size: 12px;
    }
    .containerColumnasMedio{
        gap: 5vw;
    }
    .columnasMedio{
        font-size: 13px;
    }
    .tercerColumna{
        font-size: 12px;
        font-weight: 700;
        gap: 1vh;
    }
}