@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-principal: #F7F8FA;
    --color-secundario: #4D5E80;
    --color-terciario: #6B7A99;
}

