/* container main */
.homePageContainer{
    background-color: var(--color-principal);
}
.containerGibson{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titulos{
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titulos h1{
    font-size: 70px;
    font-weight: 500;
}

.titulos h2{
    font-size: 30px;
    font-weight: 500;
}

.containerInput{
    position: relative;
}

.bi-search{
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 8px;
}


.inputHomePage{
    padding: 1vh 2vw;
    width: 350px;
    height: 4.5vh;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    color: rgb(83, 83, 83);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.inputHomePage::placeholder {
    color: #ADB8CC; /* Color del marcador de posición */
}

.inputHomePage:focus {
    outline: none;
}

.containerImagenPrincipal{
    width: 100%;
    height: 60vh;
}

.containerImagenPrincipal img{
    width: 100%;
    height: 100%;

}

/* columnas de los productos y los filtradores */
.colorCardContainer{
    display: flex;
    padding-bottom: 60px;
}

/* columna de los productos */
.colorCardInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75vw;
    max-width: 75vw;
    gap: 4vw;
    margin: 0 auto;
}

.h2NingunProducto{
    font-size: 30px;
    color: var(--color-secundario);
}

@media (max-width: 359px) {
    .containerImagenPrincipal{
        display: none;
    } 
}
@media (min-width: 360px) and (max-width: 480px){
    .containerGibson{
        gap: 3vh;
    }
    .titulos h1{
        font-size: 50px;
        font-weight: 500;
    }
    
    .titulos h2{
        font-size: 25px;
        font-weight: 500;
    }
    .containerImagenPrincipal{
        display: none;
    } 
    .bi-search{
        position: absolute;
        font-size: 20px;
        left: 12px;
        top: 8px;
    }


    .inputHomePage{
        padding: 1vh 10vw;
        width: 280px;
    }

    /* columna de los productos */
    .colorCardInfo{
        width: 100%;
        gap: 15vw;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .containerGibson{
        gap: 3vh;
    }
    .titulos h1{
        font-size: 55px;
        font-weight: 500;
    }
    
    .titulos h2{
        font-size: 30px;
        font-weight: 500;
    }
    .containerImagenPrincipal{
        display: none;
    } 
    .bi-search{
        position: absolute;
        font-size: 20px;
        left: 12px;
        top: 8px;
    }


    .inputHomePage{
        padding: 1vh 6vw;
        width: 280px;
    }

    /* columna de los productos */
    .colorCardInfo{
        gap: 15vw;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .containerGibson{
        gap: 4vh;
    }
    .titulos h1{
        font-size: 60px;
        font-weight: 500;
    }
    
    .titulos h2{
        font-size: 30px;
        font-weight: 500;
    }
    .containerImagenPrincipal{
        display: none;
    } 
    .bi-search{
        position: absolute;
        font-size: 20px;
        left: 12px;
        top: 8px;
    }


    .inputHomePage{
        padding: 1vh 5vw;
        width: 300px;
    }
    /* columna de los productos */
    .colorCardInfo{
        gap: 10vw;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .containerGibson{
        gap: 4vh;
    }
    .titulos h1{
        font-size: 60px;
        font-weight: 500;
    }
    
    .titulos h2{
        font-size: 30px;
        font-weight: 500;
    }
    .containerImagenPrincipal{
        display: none;
    } 
    .bi-search{
        position: absolute;
        font-size: 20px;
        left: 12px;
        top: 8px;
    }


    .inputHomePage{
        padding: 1vh 4vw;
        width: 320px;
    }
    /* columna de los productos */
    .colorCardInfo{
        gap: 10vw;
    }
}
@media (min-width: 1200px) and (max-width: 1439px){
    .containerGibson{
        gap: 4vh;
    }
    .titulos h1{
        font-size: 65px;
        font-weight: 500;
    }
    
    .titulos h2{
        font-size: 30px;
        font-weight: 500;
    }
    .containerImagenPrincipal{
        display: none;
    } 
    .bi-search{
        position: absolute;
        font-size: 20px;
        left: 12px;
        top: 8px;
    }


    .inputHomePage{
        padding: 1vh 4vw;
        width: 340px;
    }
    /* columna de los productos */
    .colorCardInfo{
        gap: 10vw;
    }
}