/* container main */
.homePageContainer{
    background-color: var(--color-principal);
}
.containerGibson{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titulos{
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titulos h1{
    font-size: 70px;
    font-weight: 500;
}

.titulos h2{
    font-size: 30px;
    font-weight: 500;
}

.containerInput{
    position: relative;
}

.bi-search{
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 8px;
}


.inputHomePage{
    padding: 1vh 2vw;
    width: 350px;
    height: 4.5vh;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    color: rgb(83, 83, 83);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.inputHomePage::placeholder {
    color: #ADB8CC; /* Color del marcador de posición */
}

.inputHomePage:focus {
    outline: none;
}

.containerImagenPrincipal{
    width: 100%;
    height: 60vh;
}

.containerImagenPrincipal img{
    width: 100%;
    height: 100%;

}

/* columnas de los productos y los filtradores */
.colorCardContainer{
    display: flex;
    padding-bottom: 60px;
}

/* columna de los productos */
.colorCardInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75vw;
    max-width: 75vw;
    gap: 4vw;
    margin: 0 auto;
}

.h2NingunProducto{
    font-size: 30px;
    color: var(--color-secundario);
}

@media (max-width: 767px){
    .containerGibson{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .titulos{
        color: var(--color-secundario);
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .titulos h1{
        font-size: 60px;
        font-weight: 500;
    }
    
    .titulos h2{
        font-size: 30px;
        font-weight: 500;
    }
    .containerImagenPrincipal{
        display: none;
    } 
    .bi-search{
        position: absolute;
        font-size: 20px;
        left: 12px;
        top: 6px;
    }


    .inputHomePage{
        padding: 1vh 6vw;
        width: 280px;
    }

    /* columna de los productos */
    .colorCardInfo{
        width: 50vw;
        gap: 10vw;
    }
}

@media (max-width:500px){
    .containerGibson{
        padding: 40px;
        font-size: 13px;
        gap: 10vw;
        align-items: center;
    }
    .inputHomePage{
        padding: 1vh 8vw;
        width: 280px;
        font-size: 12px;
    }
    .colorCardInfo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: unset;
        width: 80vw;
        gap: 2vw;
        margin-left: 50px;
        margin-bottom: 10px;
    }
}
